#body-feed {
	width: 600px;
}

#navbar {
	background-color: white;
}

#show-button {
	margin-top: 25px;
	margin-bottom: 25px;
}

#name-button {
	margin-right: 80px;
}

#search-bar {
	width: 350px;
}

#quora-button {
	margin-left: 80px;
}

#question-feed {
	border-bottom: solid;
	border-width: 1px;
	border-color: #FF0000;
}

#name-first-answer {
	font-style: italic;
}

#answer-name-feed {
	font-style: italic;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #FF0000;
	margin-top: 25px;
}

#login-div {
	border: solid;
	border-width: 1px;
	width: 600px;
	height: 400px;
	align: center;
	margin-top: 120px;
}

#align-right {
	text-align: right;
}

#align-left {
	text-align: left;
}

#index-form {
	padding-left: 10px;
	margin-bottom: 10px;
	background-color: #EEE;
	border-radius: 4px;
	border: transparent;
}

#error-signup {
	margin-top: 10px;
	margin-left: 30px;
	background-color: #ff0000;
	opacity: 0.3;
	color: white;
	width: 200px;
	border: solid;
	border-radius: 8px;
	border-color: white;
	text-align: center;
}

#login-succes {
	margin-top: 50px;
	background-color: #ff0000;
	opacity: 0.3;
	color: white;
	width: 200px;
	border: solid;
	border-radius: 8px;
	border-color: white;
}

#profile {
	margin-left: 50px;
	padding-left: 50px;
}

#user-div {
	border: solid;
	border-width: 1px;
	width: 600px;
	height: 200px;
	align: center;
	margin-top: 60px;
	padding-top: 20px;
	margin-bottom: 40px;
}

#question-bar {
	width: 570px;
	margin: 15px;
	margin-left: 0px;
	height: 40px;

}

#detail-bar {
	width: 570px;
	margin: 15px;
	margin-left: 0px;
	height: 80px;
}




  