<center>
<div id="login-div">
	<div style="width: 50%; float: right; text-align: center" id="border-left">
	<h3>LOGIN</h3>
		<form method=post action='/login'>
			<input id="index-form" type=text placeholder="Username" name="username"><br>
			<input id="index-form" type=password placeholder="Password" name="password"></br>
			<input id="index-form" type=submit value="Login"> 
		</form>
		</div>

<div id="align-left">

	<div style="width: 50%; float: left; text-align: center">
	<h3>SIGNUP</h3>
		<form method=post action='/signup'>
			<input id="index-form" type=text placeholder="Username" name="username"><br>
			<input id="index-form" type=text placeholder="Email" name="email"><br>
			<input id="index-form" type=text placeholder="First name" name="first_name"><br>
			<input id="index-form" type=text placeholder="Last name" name="last_name"><br>
			<input id="index-form" type=password placeholder="Password" name="password"></br>

			<input id="index-form" type=submit value = "Sign Up"> 
		</form>
		</div>
</div>
</center