
<body class="main">
<% @questions.each do |question| %>
  <% if question.answers.first %>
  <% else %>
    <div class="container" id="body-feed">
      <h3 id="question-feed"><%= question.question %></h3>
        <p><%= question.details %></p>
              <form method=post action="/add_answer/<%= question.id %>" >
                <input type=text placeholder = "Answer here" name="answer">
                <input type=submit value="Add answer">
              </form>
            <% end %>
      </div>
    </div>
    <% end %>

</body>

