<center>
succes wow you are logged in !! You've made it!!
	<form method=post action='/logout'>
		<input type=submit value = "Logout"> 
	</form>

	<form method=post action='/feed'>
		<input type=submit value = "Feed"> 
	</form>

	<h2> Add question </h2>
	<form method=post action='/add_question'>
		<input type=text placeholder = "Question" name ="question"><br>
		<input type=text placeholder = "Details" name ="details"><br>
		<input type=submit value = "Add"> 
	</form>

</center>