<center>
<h1>SIGNUP BELOW</h1>
	<body>
		<form method=post action='/signup'>
			<input type=text placeholder = "Username" name ="username"><br>
			<input type=text placeholder = "Email" name ="email"><br>
			<input type=password placeholder = "Password" name = "password"></br>
			<input type=submit value = "Sign Up"> 
		</form>
	</body>
</center>
